<html>
		<h1>
				Followed word - {{ .title }}
		</h1>
		<h2>Most liked tweets:</h2>
		<table>
			{{range .tweetsByLikes}}
			<tr>
				<td>{{.Text}}</td>
				<td>{{.FavoriteCount}}</td>
			</tr>
			{{end}}
		</table>
		<h2>Most retweeted tweets:</h2>
		<table>
			{{range .tweetsByRetweets}}
			<tr>
				<td>{{.Text}}</td>
				<td>{{.RetweetCount}}</td>
			</tr>
			{{end}}
		</table>
		<h2>Most liked links:</h2>
		<table>
			{{range .linksByLikes}}
			<tr>
				<td><a href="{{.URL}}">{{.Title}}</a></td>
				<td>{{.Likes}}</td>
			</tr>
			{{end}}
		</table>
		<h2>Most retweeted links:</h2>
		<table>
			{{range .linksByRetweets}}
			<tr>
				<td><a href="{{.URL}}">{{.Title}}</a></td>
				<td>{{.Likes}}</td>
			</tr>
			{{end}}
</html>
